<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark"> 

    <ion-slides [options]="sliderOpt"
                *ngIf="datalocalService.noticias.length === 0">
      <ion-slide>
        <ion-label>No hay Favoritos</ion-label>
      </ion-slide>
    </ion-slides>

    <app-noticias *ngIf="datalocalService.noticias.length > 0" 
                  [enFavoritos]="true"
                  [noticias]=" datalocalService.noticias" ></app-noticias>

</ion-content>
